html {
   padding : 0px ;
   margin:0px;
   border:none;
   height: 100vh;
   background-color:gray;
    overflow:hidden;

}
body {
   padding : 0px ;
   margin:0px;
   border:none;
   min-height :100%;
   background-color:blue;
    height: 100vh;
     overflow:hidden;
}

@viewport{height:device-height}
@viewport{width:device-width}
@-ms-viewport{height:device-height}
@-ms-viewport{width:device-width}
